body {
  font-family: "Arial", sans-serif;
  background-color: #242424;
  margin: 0;
  padding: 20px;
  text-align: center;



}
#root {
  display: flex !important;
  flex-direction: column;
  justify-content: center;


}
body > * {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #4a90e2;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  color: red;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {

  margin: 5px 0;
  padding: 10px;
  
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  
  width: calc(100% - 22px);
  margin-bottom: 10px;
}

button {
  background-color: #4a90e2;
  color: white;
  border: none;
  
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357abd;
}

.remove-button {
  background-color: #e74c3c;
}

.remove-button:hover {
  background-color: #c0392b;
}

.home-container {


  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #242424;
  border: 1px solid gray;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  color: #333;

}

.home-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  color: #2c3e50;
}

.home-verse {
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #7f8c8d;
  background: #242424;
  padding: 10px 15px;
  border-left: 4px solid #2c3e50;
  
}

.home-error {
  color: #e74c3c;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.home-pairs-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.home-pair-item a {
  text-decoration: none;
  color: white;
}

.home-pair-item {
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 10px 15px;
  border: 1px solid gray;
  background: #242424;
  color: #34495e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.home-pair-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #292929;

 
}

.maintainer {
  text-align: center;
  color: gray;
  font-weight: bold;
  margin-top: 100px;
}

.maintainer span {
  color: #4a90e2;
  font-weight: bold;
}

.maintainer span a {
  color: #4a90e2;
  font-weight: bold;
  text-decoration: none;
}

.data-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 30px;
  text-shadow: 2px 2px 5px gray;
}

li .start,
.end {
  width: 100px !important;
  text-align: start;
  font-size: 24px;
}
.start {
  color: lightseagreen;
}
.end {
  color: lightskyblue;
}

#admin-container {
  display: flex;
  justify-content:center;
  gap: 20px;
  flex-direction: row-reverse;
  padding: 20px;
  background-color: #242424;
  border: 1px solid gray;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  color: #333;
}
.left {
  overflow-y: scroll;
  width: 300px;
  color: white;
  margin: 10px;
}
input {
  background-color: #444444;
  color: white;
}
.right {
  flex-grow: 2;
  margin: 10px;
  color: white;
  overflow-y: scroll;
}
#admin-container div {
  max-height: 800px;
}
@media (max-width: 500px) {

  #root > div {
    width: 95%;
  }
  #admin-container {
    flex-direction: column;
  }
}
